{% extends "layout.html" %}
{% block content %}
    <span class="img"><!-- 레넥톤 -->
        <a href="/Renekton" target="_self">
            <img src="/static/img/Renekton.png" alt="Yasuo" width="70" height="70" style="margin-top: 20px; margin-right: 10px;">
        </a>
    </span>
    <span class="img"><!-- 세트 -->
        <a href="/Sett" target="_self">
            <img src="/static/img/Sett.png" alt="Sett" width="70" height="70" style="margin-top: 20px; margin-right: 10px;">
        </a>
    </span>
    <span class="img"><!-- 야스오 -->
        <a href="/Yasuo" target="_self">
            <img src="/static/img/Yasuo.png" alt="Yasuo" width="70" height="70" style="margin-top: 20px; margin-right: 10px;">
        </a>
    </span>
{% endblock %}