{% extends "layout.html" %}
{% block content %}
    <p><!-- 레넥톤 -->
        <h2>레넥톤</h2>
        치고 빠지기, 한타 모두 최적화 되어있는 레넥톤은 숙련도를 조금 필요로 한다.<br>
        딜과 탱이 모두 가능한 브루저 챔이지만 잘 크지 못하면 딜도 탱도 안되는 푸짐한 똥이 될수 있으니 조심하자.<br>
        초중반에 강하다.<br>

        <h4>스킬</h4>
        P<br>
        평타 또는 스킬로 적(미니언과 챔피언 둘다 가능)을 공격할시 분노가 증가하고 분노가 쌓인 상태에서 스킬 사용시 더욱 강해짐.<br>

        Q<br>
        레넥톤이 검을 휘두르며 데미지를 입히고 피흡을 한다.<br>
        분노가 쌓일시 데미지가 더 세지며 흡혈량이 증가한다.<br>

        W<br>
        W를 사용하고 적에게 평타를 하면 적에게 추가데미지를 입히고 기절시킴<br>
        분노가 쌓일시 데미지가 더 세지며 기절 시간이 증가한다.<br>

        E<br>
        마우스 방향으로 돌진을 하며 적을 적중하면 데미지를 입히고 e를 한번 더 사용 할수 있게 됨.<br>
        분노가 쌓일시 데미지가 더 세짐.<br>

        스킬 선마<br>
        Q, E, W 순으로 선마를 한다.<br>

        <h4>부가적</h4>
        초반 딜교<br>
        적이 근거리에 있을 경우 분노를 50이상 쌓은 후 [E+평+(W)평+Q+E]를 사용해 치고 빠진다<br>
        적이 중거리에 있을 경우 분노를 50이상 쌓은 후 [E+E+평+(W)평+Q]를 사용한 후 빠진다.<br>

        잡기술<br>
        레넥톤이 평타를 친후 바로 W를 사용하고 평타를 치면 평캔이 가능하다.<br>
        레넥톤이 W평을 사용하고 거의 동시에 R을 사용하면 궁극기 모션이 캔슬 할수 있다.<br>

        팁<br>
        레넥톤은 분노를 쌓고 나서 싸울때 훨씬 더 강력한 딜을 넣을 수 있기 때문에 분노 없이는 웬만하면 싸우지 말자.<br>

        콤보<br>
        [E+평+(W)평+Q+E]<br>
        [E+E+평+(W)평+Q]<br>
        [E+평+(W)평+R+Q+E]<br>
        [E+E+평+(w)평+R+Q]<br>
    </p>
{% endblock %}