{% extends "layout.html" %}
{% block content %}
    <p><!-- 세트 -->
        <h2>세트</h2>
        세트는 세붕이라고 불리는 불운의 뚜벅이 이지만 라인 유지력이 강력하고 초보자들도 쉽게 할수 있다.<br>
        딜과 탱이 모두 가능한 브루저 챔이며 어느정도 말려도 풀기가 쉽다.(<del>개 적폐섹히</del>)<br>
        초중반에 강하다.<br>
        <h4>스킬</h4>
        P<br>
        평타가 왼쪽 주먹 한번, 오른쪽 주먹이 한번 나간다.<br>
        오른쪽 주먹이 왼쪽 주먹보다 오른쪽 주먹이 더 강하다.<br>

        Q<br>
        다음 두번의 평타 공격에 추가데미지가 들어감.<br>

        W<br>
        전방을 주먹으로 강타해 사다리꼴 모양의 공격 범위 안의 적에게 데미지를 입히고 보호막을 얻음.<br>
        가운데에 있는 적은 더 많은 데미지를 받음.<br>

        E<br>
        세트의 앞뒤에 있는 적들을 세트쪽으로 당겨옴.<br>
        양쪽에 다 적이 있으면 기정을 시킴.<br>
        세트의 e는 에어본 판정임.<br>

        R<br>
        하나의 적의 멱살을 잡고 땅에 꽂아서 데미지를 입힘.<br>
        땅에 꽃힌 적 근처에 있는 적은 약간의 데미지를 입으며 슬로우가 걸림.<br>

        스킬 선마<br>
        W, Q, E 순으로 선마를 한다.<br>

        <h4>부가적</h4>
        초반 딜교<br>
        적이 물몸+근접이라면 1렙때 E를 찍고 신나게 줘 팬다.<br>
        적이 암살자 혹은 암살자 처럼 선진입 챔프라면 W를 찎고 사리며 딜교 받아치기만 한다.<br>
        적이 물몸+원거리라면 1렙때 E를 찍고 무리하게 들어올때 E로 땡겨서 패며 2렙때 Q를 찍어 Q로 따라가서 E로 당긴 후 줘팬다.<br>
        세트는 3레벨을 찍고 [E+(Q)평+(Q)평+W]사용 후 빠지기식 딜교를 한다.<br>

        잡기술<br>
        w를 사용하는 도중 플래쉬가 사용 가능.(도망간 적을 플래쉬로 쫒아가서 데미지 입히기가 가능)<br>
        세트가 평타 두번을 치고 바로 q를 사용하면 평타 캔슬 가능.(평타를 총 4번 사용하게 됨)<br>

        팁<br>
        세트가 Q를 사용한 상태에서 적을 쫒아가면 이동속도가 빨라짐.<br>
        세트의 W는 세트가 맞을수록 데미지가 세지고 세트가 얻는 보호막의 양이 증가.(풀차징이 되었을때는 세트가 초사이언이 된 것 처럼 노랗게 변함)<br>

        콤보<br>
        [Q로 추격+E+평+평+R+W]<br>
        [평+평+(Q)평+(Q)평+E+R+W]<br>
        [E+(Q)평+(Q)평+W플+R]<br>
    </p>
{% endblock %}