{% extends "layout.html" %}
{% block content %}
    <p>
        <h2>야스오</h2>
        흔히 잼스오로 불리는 야스오는 못하면 과학이라는 소리를 듣는ㄷr.<br>
        잘크면 강하지만 숙련도를 필요로 하는 챔피언이다.<br>
        적이 치감템이 나오지 않은 중후반에 굉장히 강하다.<br>
        <h4>스킬</h4>
        P<br>
        걸으면 체력 밑의 바가 차는데 이것이 다 차면 야스오가 공격을 받을시 보호막 생성<br>

        Q<br>
        칼로 짧은 거리를 찌른다.<br>
        2번 연속으로 Q적중시 3번쨰 Q는 적을 에어본 시킨다.<br>

        W<br>
        장막을 생성해 장막에 닺는 모든 투사체를 막는다.<br>

        E<br>
        적에게 돌진하며 데미지를 입힘.<br>

        R<br>
        에어본 된 적을 5초동안 공중에 띄웠다가 땅에 꽂으며 데미지를 입힘.<br>
        궁극기 사용이 끝난 후 몇 초동안 야스오가 추가 방어력 관통력을 얻음.<br>

        스킬 선마<br>
        무조건 Q, E, W순으로 선마한다.<br>
        <del>AP야스오를 하는 미X놈이 아니라면 절대 E나 W를 Q보다 먼저 찍지 않는다.</del><br>

        <h4>부가적</h4>
        초반 딜교<br>
        야스오는 2레벨을 찍고 미니언에 E를 타서 적에게 붙은 후 (평+Q+평) 다시 미니언E로 빠지기식 딜교를 한다.<br>


        잡기술<br>
        [Q+플]이 가능하다.<br>
        [(E)Q+플]이 가능하다.<br>
        야스오의 하세기는 (W+Q)를 사용해서 하세기 모션 캔슬이 가능하다.(적이 예상치 못한 변수 창출이 가능)<br>

        팁<br>
        야스오가 Q를 3번 연속으로 사용하면 3번재 Q스킬이 장거리로 적을 에어본 시키는 하세기를 날린다.<br>
        Q는 야스오의 공격 속도가 증가 할 수록 쿨타임이 줄어들며 평타 판정이다.<br>
        야스오가 적 포탑 안에서 궁을 사용하면 야스오가 포탑을 맞지 않는 쪽에서 궁극기 모션이 발동된다.<br>
        야스오는 (E)Q를 사용하면 광역공격을 한다.<br>
        야스오의 하세기는 느려서 피하기도 쉽고 투사체 판정이기 때문에 적의 스킬에 막힐 수 있다.그래서 왠만하면 하세기를 채우고 eq를 쓰는 것을 추천한다.<br>

        콤보<br>
        [(3)Q+(E)Q+R]<br>
        [(E)(3)Q+플+평+R]<br>
    </p>
{% endblock %}